[submodule "treven-back"]
	path = treven-back
	url = https://github.com/treven-tech/treven-back
[submodule "treven-back-db"]
	path = treven-back-db
	url = https://github.com/treven-tech/treven-back-db
[submodule "treven-web"]
	path = treven-web
	url = https://github.com/treven-tech/treven-web
[submodule "treven-ai"]
	path = treven-ai
	url = https://github.com/treven-tech/treven-ai