# ============================================================
# ============================================================
# ==================   GITIGNORE   ===========================
# ============================================================
# ============================================================

/dataset_for_hackathon
dataset_for_hackathon/*
/.DS_Store
.DS_Store/*

# ============================================================
# ============================================================


# Git identity configuration (contains email addresses)
.git-identities.conf

/202510301703-eg

# Ignore all .env files
.env*
# But don't ignore the templates
!.env.example
!.env.template
!template.env


# ============================================================
# ============================================================